<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action="/login" method="post">
    <table>
        <tbody>
        <tr>
            <td>用户名</td>
            <td>
                <input type="text" name ="user" value="">
            </td>
        </tr>
        <tr>
            <td>密码</td>
            <td>
                <input type="password" name ="pwd" value="">
            </td>
 
        </tr>
        <tr>
            <td>
                <input type="submit" value="确认">
            </td>
 
        </tr>
        </tbody>
    </table>
</form>
</body>
</html>